
.instruction-container,
.services-info {
 width: 100%;
  padding: 15px;
  border: 1px solid #0D6F76;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.instruction-container h3,
.services-info h3 {
  color: #0D6F76;
  margin-bottom: 10px;
}

.instruction-container ul,
.services-info ul {
  padding-left: 20px;
}

.instruction-container li,
.services-info li {
  margin-bottom: 5px;
}

.services-info p {
  margin-bottom: 10px;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

.text-danger {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 5px;
}

.alert {
  padding: 10px;
  border-radius: 4px;
  margin-top: 15px;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}


.forgot-password-container {
  width: 600px;
  margin:auto;
  padding: 20px;
  border: 1px solid #0D6F76;
  border-radius: 5px;
  background-color: #f8f9fa;

}

h2 {
  color: #0D6F76;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #0D6F76;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #0D6F76;
  border-radius: 4px;
}

.btn {
  background-color: #0D6F76;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: #095158;
}

.btn:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.text-danger {
  color: #dc3545;
  font-size: 0.875em;
  margin-top: 5px;
}

.alert {
  padding: 10px;
  border-radius: 4px;
  margin-top: 15px;
}

.alert-success {
  background-color: #ECDF8B;
  border: 1px solid #0D6F76;
  color: #0D6F76;
}

.alert-danger {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}
